html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#three {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#pixi {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    touch-action: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: auto;
}